@font-face {
    font-family: 'Alkatra';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('/fonts/Alkatra-Latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.border-bottom-standard, 
.border-top-standard, 
.border-right-standard, 
.border-left-standard, 
.border-x-standard, 
.border-y-standard, 
.border-standard {
    @apply border-current
}

.border-bottom-standard {
    @apply border-b-[0.3vw]
}

.border-top-standard {
    @apply border-t-[0.3vw]
}

.border-right-standard {
    @apply border-r-[0.3vw]
}

.border-left-standard {
    @apply border-l-[0.3vw]
}

.border-x-standard {
    @apply border-x-[0.3vw]
}

.border-y-standard {
    @apply border-y-[0.3vw]
}

.border-standard {
    @apply border-[0.3vw]
}