---
import Underline from "./underline.astro";
---

<div class="text-xl">Car rental</div>
<div class="mt-2">
  <Underline>Company:</Underline>
</div>
<div class="flex flex-row mt-2 space-x-6">
  <div class="w-1/2">
    <Underline>Pick-up:</Underline>
  </div><div class="w-1/2">
    <Underline>Drop-off:</Underline>
  </div>
</div>
