---
import Underline from "./underline.astro";
---

<div class="space-y-2">
  <p class="text-xl">Car rental</p>
  <Underline>Company:</Underline>
  <div class="flex flex-row space-x-6">
    <div class="w-1/2">
      <Underline>Pick-up:</Underline>
    </div>
    <div class="w-1/2">
      <Underline>Drop-off:</Underline>
    </div>
  </div>
</div>
