---
import Underline from "./underline.astro";
---

<div class="text-xl">Hotel</div>
<div class="mt-2">
  <Underline>Name:</Underline>
</div>
<div class="mt-2">
  <Underline>Address:</Underline>
</div>
<div class="mt-2">
  <Underline>Contact:</Underline>
</div>
<div class="flex flex-row mt-2 space-x-6">
  <div class="w-1/2">
    <Underline>Check-in:</Underline>
  </div><div class="w-1/2">
    <Underline>Check-out:</Underline>
  </div>
</div>
