---
import Underline from "./underline.astro";
---

<div class="space-y-2">
  <h2 class="text-xl">Hotel</h2>
  <Underline>Name:</Underline>
  <Underline>Address:</Underline>
  <Underline>Contact:</Underline>
  <div class="flex flex-row mt-2 space-x-6">
    <div class="w-1/2">
      <Underline>Check-in:</Underline>
    </div>
    <div class="w-1/2">
      <Underline>Check-out:</Underline>
    </div>
  </div>
</div>
