---
const { size } = Astro.props;
const rows = typeof size === "undefined" ? 1 : size;
---

<div class="flex flex-col w-full">
  <p class="text-xl">Notes:</p>
  {
    Array(rows)
      .fill(null)
      .map(() => (
        <div class="w-full border-b-standard border-current">
          <p class="invisible">Placeholder</p>
        </div>
      ))
  }
</div>
