---
---

<div
  class="fixed bottom-1/2 right-1/2 translate-x-1/2 translate-y-1/2 bg-neutral-50 flex flex-col space-y-4 border-standard p-4 rounded-md text-center items-center"
  id="controls"
>
  <div class="flex flex-row space-x-4">
    <div
      class="min-w-fit w-24 bg-neutral-100 hover:bg-neutral-200 border-standard p-4 rounded-md text-center cursor-pointer"
      id="print_prompt"
    >
      Print
    </div>
    <div
      class="min-w-fit w-24 bg-neutral-100 hover:bg-neutral-200 border-standard p-4 rounded-md text-center cursor-pointer"
      id="hide_prompt"
    >
      Hide
    </div>
  </div>
  <p>Reload the page to show this prompt again!</p>
</div>

<script>
  const print = document.getElementById("print_prompt")!;
  const controls = document.getElementById("controls")!;
  const hide = document.getElementById("hide_prompt")!;

  print.addEventListener("click", () => {
    controls.classList.add("hidden");
    window.print();
    controls.classList.remove("hidden");
  });

  hide.addEventListener("click", () => {
    controls.classList.add("hidden");
  });
</script>
